# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/
